<nav class="navbar navbar-light bg-light d-flex border-bottom">
  <a class="navbar-brand" href="http://localhost:3000/restaurants">Yelp MVP</a>
  <%# <%= link_to "Create Review", new_restaurant_review_path(@restaurant) %>   
</nav>

<div class='restaurants_page mt-5'>
  <div class="container">
    <h1><%= @restaurant.name %></h1>
    <h3><%= @restaurant.category %> </h3>     
    <p><%= @restaurant.address %> - <%= @restaurant.phone_number %></p><br><br>

    <% @restaurant.reviews.each do |review| %>
      <div class="card mt-3">
        <div class="card-header">
          <i>anonymous review</i>
        </div>
        <div class="card-body">
          <h5 class="card-title"><%= 'â­' * review.rating %></h5>
          <p class="card-text"><%= review.content %></p>
        </div>
      </div>
    <% end %>
  </div>

  <%= render "reviews/new" %>
</div>


    
    
  

    

